<div class="mt-5 mb-5 text-center">
  <h2>MY CART</h2>
</div>

<div class="mt-5">
  <div class="row g-5" id="cart-list">
    {{#each cart.products}}
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.product.title}}</h5>
            <p class="card-text">{{this.product.description}}</p>
            <p><strong>Price:</strong> ${{this.product.price}}</p>
            <p><strong>Quantity:</strong> {{this.quantity}}</p>

            {{#if product.thumbnails.length}}
              <div>
                <strong>Imágenes:</strong>
                <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
                  {{#each product.thumbnails}}
                    <img
                      src="{{this}}"
                      alt="Imagen del producto"
                      class="product-image"
                      style="height:10rem; width: 10rem;"
                    />
                  {{/each}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>

      </div>
    {{/each}}
  </div>
</div>