<div class="mt-5 mb-5 text-center">
  <h2>WELCOME TO HOME!</h2>
</div>
<div class="row g-5">
  {{#each productList}}
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">{{this.title}}</h4>
          <div class="mt-3">
            <p><strong>Description:</strong> {{this.description}}</p>
            <p><strong>Price:</strong> ${{this.price}}</p>
            <p><strong>Stock:</strong> {{this.stock}} unidades</p>
            <p><strong>Category:</strong> {{this.category}}</p>
            <p><strong>Code:</strong> {{this.code}}</p>
            <p><strong>Status:</strong> {{#if this.status}}Active{{else}}Inactive{{/if}}</p>
          </div>
          <div>
            <strong>Imágenes:</strong>
            <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
              {{#each this.thumbnails}}
                <img
                    src="{{this}}"
                    alt="Product image"
                    class="product-image"
                    style="height:10rem; width: 10rem;"
                  />
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>