<div class="mt-5 mb-5 text-center">
  <h2>{{product.title}}</h2>
</div>

<div class="row">
  <div class="col-lg-6">
    <p><strong>Description:</strong> {{product.description}}</p>
    <p><strong>Price:</strong> ${{product.price}}</p>
    <p><strong>Stock:</strong> {{product.stock}} unidades</p>
    <p><strong>Category:</strong> {{product.category}}</p>
    <p><strong>Code:</strong> {{product.code}}</p>
    <p><strong>Status:</strong> {{product.status}}</p>
  </div>

  {{#if product.thumbnails.length}}
  <div class="col-lg-6">
    <strong>Imágenes:</strong>
    <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
      {{#each product.thumbnails}}
        <img
          src="{{this}}"
          alt="Imagen del producto"
          class="product-image"
          style="height:15rem; width: 15rem;"
        />
      {{/each}}
    </div>
  </div>
{{/if}}
</div>